page-activity {
  .searchbar {
    width: 100%;
  }

  .activity {
    &-list {
      margin-top: 30px;
    }

    &-type {
      &-push, &-create {
        color: #3c3;
        font-size: 0.8em;
      }

      &-watch {
        color: #fa0;
        font-size: 0.8em;
      }

      &-public {
        color: #0af;
        font-size: 0.8em;
      }
    }

    &-repo-name {
      padding-top: 5px;
      font-size: 1.2em;
    }

    &-time {
      padding-top: 5px;
      font-size: 0.8em;
    }
  }
}
