page-activity-detail {
  .activity {
    &-type {
      font-size: 1.2em;
    }

    &-repo-name {
      padding-top: 5px;
      font-size: 1.8em;

      a {
        color: #555;
        text-decoration: none;
      }
    }

    &-commit {
      padding-top: 7px;
      margin-left: 5px;
      font-size: 1.2em;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    &-datetime {
      padding-top: 10px;
      color: #aaa;
    }
  }
}
